* {
  position: relative;
}

html {
  height: 100vh;
  background-color: #FFF;
}

body {
  display: flex;

  flex-direction: column;

  margin: 0;
  padding: 0;
  height: 100vh;
}

div {
  margin: 0;
  padding: 0;

  //outline: black 1px dashed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  margin: 1em;
}


#header {
  //padding: 1em;
  width: 100%;

  background: #eaffe6;

  order: 0;
}

#game {
  display: flex;

  order: 1;

  flex-grow: 1;

  flex-direction: column;
  flex-wrap: nowrap;
  //justify-content: flex-end;
}

#game_display {
  order: 1;

  flex-grow: 1;

  //border: black 1px dashed;
}

#controls {
  //flex-basis: 24em;
  flex-grow: 0;
  flex-shrink: 1;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //height: 100%;
  background: #c7c7c7;
  border-radius: 4px;
  margin-left: 0.6em;
  margin-right: 0.6em;
  margin-top: 0.6em;

  display: flex;

  order: 0;

  #time_display {
    //flex-basis: 100%;
    //margin-left: 0;
    flex-grow: 1;
    display: flex;
    justify-content: start;
  }

  #vline {
    width: 3px;
    height: 100%;
    background-color: #FFF;
  }

  #scores {
    //width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: center;

    #scoreDivider {
      font-size-adjust: 1;
      margin-right: 0;
      margin-left: 0;
    }

    .team {
      display: flex;
      align-items: center;
      justify-content: center;
      //justify-content: space-between;

      p {
        font-family: sans-serif;
        //margin: auto;
        font-size: small;
        flex-grow: 0;
        margin-right: 0.1em;
      }

      .teamName {
        flex-grow: 1;
      }

      .teamScore {
        flex-grow: 0;
        font-size-adjust: 1;
      }

      padding: 2px;
    }

    #team1 .teamScore {
      color: blue;
    }

    #team2 .teamScore {
      color: red;
    }
  }
}
